@font-face {
    font-family: "Fuente";
    src: url("fonts/Rosario-Regular.ttf");
}

body {
    font-family: "Fuente";
    background-color: #f7d3eb;
}

main {
    background-color: #FDEBF7;
    text-align: center;
    padding: 1%;
    margin: 1%;
    border-radius: 100px;
}

header {
    text-align: center;
    margin-top: 2%;
}


h1 {
    text-align: center;
}

h2 {
    font-size: 1.3em;
}

.imagen > img {
    width: 90px;
    height: 100px;
    min-width: 10px;
    min-height: 10px;
}

.imagen {
    margin: 0.2%;
}

.contenedor {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.contenedorJugador {
    margin: 1%;
    padding: 1%;
    border: 2px rgb(167, 67, 233) solid;
    border-radius: 50px;
    background-color: rgb(252, 246, 255);
}

.contenedorCartas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

@media (max-width: 1000px) {
    .contenedor {
      flex-direction: column;
    }
  }


.ganadora, .empate, .pierde {
    font-weight: bold;
}

.ganadora {
    color: rgb(127, 204, 11);
}

div.ganadora {
    border: 5px rgb(157, 255, 173) solid;
}

.empate {
    color: blue;
}

div.empate {
    border: 5px rgb(152, 152, 255) solid;
}

.pierde {
    color: red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
}

nav a {
    display: inline-flex;
    position: relative;
    padding: 10px;

    text-decoration: none;
    font-weight: bold;

    color: rgb(65, 35, 112);
    border: 2px solid rgb(167, 67, 233);
    background-color: rgb(245, 194, 255);
}

nav a:hover {
    color: rgb(73, 18, 121);
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(249, 221, 255);
}